# Used Directly by the postgres container to initialize itself 
# Read by the app itself, which builds the full connection URL from them
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=pwd
POSTGRES_DB=rag_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
GEMINI_MODEL=gemini-2.5-flash
GEMINI_API_KEY=your api key here